--- 
layout: about-me 
title: About Me 
description: "Personal description" 
comments: false
---
<div id="particles-js">
    <div class="content">
        <h1>
            <span class="site-title">{{site.owner.name}}</span>
            <span class="site-description">{{site.owner.title}}</span>
        </h1>
        <div>
            <img class="author-img" src="{{site.url}}/{{site.owner.avatar}}" alt="{{site.owner.name}}" />
        </div>
        <div class="author-share">
            <ul class="list-inline social-buttons">
                {% for network in site.social %}
                <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
                {% endfor %}
                <li><a href="{{site.url}}/feed.xml" target="_blank"><i class="fa fa-rss fa-fw"></i></a></li>
            </ul>
        </div>
        <br/>
        <h1>
            <span class="entry-title">Technical Skills</span>
        </h1>
        {% if site.skills.size > 0 %}
            {% assign currentRow = 0 %}
            {% assign currentColumn = 0 %}
            {% assign lastIndex = site.skills.size | minus: 1 %}
            {% for index in (0..lastIndex) %}
                {% if currentColumn == 0 %}
                    <ul class="list-inline">
                {% endif %}
                
                {% assign skill = site.skills[index] %}
                <li>
                    <img src="{{site.url}}/images/skills_{{skill.filename}}" alt="{{skill.title}}"/>
                </li>
                {% assign index = index | plus: 1 %}

                {% assign lastColumn = site.skills_limit | minus: 1 %}
                {% if currentColumn == lastColumn %}
                    </ul>
                    {% assign currentColumn = 0 %}
                    {% assign currentRow = currentRow | plus: 1 %}
                {% else %}
                    {% assign currentColumn = currentColumn | plus: 1 %}
                {% endif %}
            
            {% endfor %}
        {% endif %}
    </div>
</div>